{% macro show_menu(current_user) %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('sesiones.index') }}">Gestión de sesiones y cookies</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('sesiones.index') }}">Home</a>
        </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Cookies</a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{ url_for('sesiones.createcookie') }}">Crear</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('sesiones.mostrarcookie') }}">Mostrar</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Sesiones</a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{ url_for('sesiones.createsession') }}">Crear</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('sesiones.mostrarsession') }}">Mostrar</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Ataques</a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{ url_for('sesiones.xssreflejado') }}">XSS Reflejado</a></li>
              </ul>
          </li>

      </ul>
      <ul class="navbar-nav ms-auto">

          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('sesiones.loginsession') }}">Login</a>
          </li>

      </ul>
    </div>
  </div>
</nav>
{% endmacro %}
